@model TIQRI.ITS.Web.ViewModels.AsseHomeViewModel
@{
    Layout = null;
}
<script src="~/Scripts/Forms/asset_frm.js"></script>
<div class="container-fluid">
    <div class="side-body">
        <div class="row">
            <div class="col-xs-12">
                <input type="hidden" id="Asset_Type" value="@Model.AssetType" />
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">
                                Manage @Model.AssetTypeDisplay
                            </div>
                            <div class="description">
                                Please use search to find specific results
                            </div>
                        </div>
                        <div class="pull-right card-action form-top-button-margin">
                            <div class="btn-group" role="group" aria-label="...">
                                <input type="button" value="Add New @Model.AssetTypeDisplay" class="btn btn-success" onclick="AssetManagement.LoadAddEditForm();" />
                            </div>
                            <div class="btn-group" role="group" aria-label="...">
                                <input type="button" value="Bulk Import" class="btn btn-success" onclick="AssetManagement.LoadBulkImportForm();" />
                            </div>
                        </div>
                    </div>

                    <div class="card-body form-horizontal">
                        <div class="row">
                            <div id="Div_PageInner_SearchPanel" class="col-sm-4 main-search-panel">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="text" id="TextBox_Asset_SearchBox" onkeyup="AssetManagement.FindAssets();"
                                               placeholder="What do you want to find ?" class="form-control main-search-box"></input>
                                    </div>
                                </div>
                                <div class="form-group div-search-results" id="DIV_AssetManagementList">
                                    <table class="clearTable" style="margin-top: 20px;">
                                        <tr>
                                            <td style="padding-left: 20px; width: 20px;">
                                                <div class="icon-spinner icon-2x icon-spin"></div>
                                            </td>
                                            <td style="padding-left: 10px;">Loading @Model.AssetTypeDisplay list. Please wait…</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-8" id="DIV_PageInner_OperationDetails">

                                <div class="select-message">
                                    <img src="../../Content/img/information.png" /><br />
                                    Please select to Edit Or Add New
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="DIV_AssetManagementLoadingMessage" style="display: none;">
    <table class="clearTable" style="margin-top: 20px;">
        <tr>
            <td style="padding-left: 20px; width: 20px;">
                <div class="icon-spinner icon-2x icon-spin"></div>
            </td>
            <td style="padding-left: 10px;">Loading @Model.AssetTypeDisplay list. Please wait…</td>
        </tr>
    </table>
</div>

<script>
    $(document).ready(function () {
        AssetManagement.SearchAssets();
    });

    $('#DIV_PageInner_OperationDetails').bind('heightChange', function () {
    });
</script>