@model TIQRI.ITS.Web.ViewModels.BatchViewModel
@{
    Layout = null;
}

<style>
    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>
<div>
    <div class="card-header">
        <div class="card-title">
            <div class="title">
                @Html.Raw("Batch - " + Model.Code)
            </div>
            <div class="description">
                Please fill all the required details. Required fields are marked with <span class="required">*</span>
            </div>
        </div>
        <div class="pull-right card-action form-top-button-margin">
            <div class="btn-group" role="group" aria-label="...">
            </div>
        </div>
    </div>
    <input type="hidden" id="Batch_Id" value="@Model.Id" />
    <input type="hidden" id="Participant_UserName" value="@Model.UserName" />

    <div class="step tabs-below card-no-padding">
        <ul class="nav nav-tabs" role="tablist">
            <li role="step" class="active">
                <a href="#stepv1" id="step1-vtab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                    <div class="icon fa fa-qrcode"></div>
                    <div class="step-title">
                        <div class="title">Basic</div>
                        <div class="description">Batch Information</div>
                    </div>
                </a>
            </li>
            <li role="step" class="">
                <a href="#stepv2" onclick="MyCourseManagement.RerenderCalendar();" role="tab" id="step2-vtab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
                    <div class="icon fa fa-calendar"></div>
                    <div class="step-title">
                        <div class="title">Schedule</div>
                        <div class="description">Batch Schedule Dates</div>
                    </div>
                </a>
            </li>
            <li role="step" class="">
                <a href="#stepv4" role="tab" id="step4-vtab" data-toggle="tab" aria-controls="assignments" aria-expanded="false">
                    <div class="icon fa fa-file-archive-o"></div>
                    <div class="step-title">
                        <div class="title">Assignments</div>
                        <div class="description">Assignment Submission</div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="stepv1" aria-labelledby="home-tab">

                <div class="form-horizontal" style="margin-top: 20px; padding-left: 15px; padding-right: 15px;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Batch Code</label>
                        <div class="col-sm-7">
                            <label class="control-label control-value">: @Model.Code</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Notes </label>
                        <div class="col-sm-7">
                            <label class="control-label control-value">: @Model.Notes</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Trainer(s) </label>
                        <div class="col-sm-9">
                            <label class="control-label control-value">: @Model.TrainerLisrtStr</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Reviewer(s) </label>
                        <div class="col-sm-9">
                            <label class="control-label control-value">: @Model.ReviewerListStr</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Participant(s) </label>
                        <div class="col-sm-9">
                            <label class="control-label control-value">: @Model.ParticipantListStr</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Batch Status</label>
                        <div class="col-sm-7">
                            <label class="control-label control-value">: @Model.BatchStatus</label>

                        </div>
                    </div>

                </div>

            </div>
            <div role="tabpanel" class="tab-pane fade " id="stepv2" aria-labelledby="profile-tab">
                <div class="form-horizontal" style="margin-top: 20px;">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="schedule-title">
                                Schedule
                            </div>
                            <hr style="margin-top: 5px;" />
                            <div id="Div_Batch_ScheduleDateList" style="max-height: 356px; overflow: auto;">
                                Loading Batch Schedule.. Please wait.
                            </div>


                        </div>
                        <div class="col-sm-8" style="height: 400px">

                            <div id='batchcalendar'></div>
                        </div>
                    </div>

                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade " id="stepv4" aria-labelledby="assignments-tab">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="Div_Batch_AssignmentList" style="overflow: auto;">
                                
                                Loading Assignments .. Please wait.

                                
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="card-header" style="margin-top: 20px">
                                <div class="card-title inner-title-card">
                                    <div class="title">
                                        Submit Assignment
                                    </div>
                                    <div class="description">
                                        Please upload your assignment to a shared drive provide the link.
                                    </div>
                                </div>
                            </div>
                            <div class="form-horizontal" style="margin-top: 20px;">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Code Shared URL</label>
                                    <div class="col-sm-7">
                                        <input type="text" id="TextBox_Assignment_Url" placeholder="Code Shared URL" class="form-control"></input>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Notes </label>
                                    <div class="col-sm-7">
                                        <textarea name="TextBox_Assignment_Notes" rows="2" cols="20" id="TextBox_Assignment_Notes" class="form-control" placeholder="Notes" style="height:80px;"></textarea>
                                    </div>
                                </div>

                                <div class="form-group" style="margin-top: 20px;">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-7">
                                        <input type="button" id="Button_Assignment_Confirm" class="btn btn-success" value="Submit Assignment" onclick="MyCourseManagement.SubmitAssignment();" />
                                        <input type="button" id="Button_Assignment_Cancel" class="btn btn-default" value="Cancel" onclick="MyCourseManagement.ClearAssignment();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>



<script>
    MyCourseManagement.ResetSchedule();
    MyCourseManagement.RerenderAssignments();
    BatchManagement.ResetHeight();
</script>

<script>

    $(document).ready(function () {
        $('#batchcalendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false
        });
    });

</script>